@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos globais */
body {
    background-image: url(./img/pokemon_wallpaper01_1680.jpg);
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    
}

/* Estilos da seção principal */

header{
    background-color: #d8e3ec;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-logo{
    width: 50vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
}

#pokemonList{
    display: flex;
    flex-wrap: wrap;
}

/* Estilos do cartão de Pokémon */
.cartao-pokemon {
    cursor: pointer;
    background-color: #d8e3ec;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin: 10px;
}

/* Efeito de hover no cartão de Pokémon */
main .cartao-pokemon:hover {
    background-color: #96e9e6;
    transform: scale(1.02);
}

/* Estilos das informações no cartão de Pokémon */
.cartao-pokemon .informacoes {
    border: 1px solid #333333;
    border-radius: 15px;
    width: 100%;
    padding: 5px;
}

.cartao-pokemon .informacoes h2 {
    font-size: 20px;
    text-transform: uppercase;
}

/* Estilos dos tipos no cartão de Pokémon */
.cartao-pokemon .tipos {
    border: solid 1px #333333;
    border-radius: 15px;
    width: 100%;
    padding: 5px;
    gap: 15px;
}

/* Estilos dos tipos específicos no cartão de Pokémon */
.cartao-pokemon .tipo-pokemon {
    padding: 8px;
    border-radius: 10px;
}

.pokemon{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
